{% extends 'base.html' %}

{% block content %}

<section class="pricing-section">
    <h2>Plans & Pricing</h2>
    <p>Select the plan that fits you best</p>

    <div class="pricing-container">

        <div class="pricing-card">
            <h3>Basic</h3>
            <h1>₹499<span>/month</span></h1>
            <ul>
                <li>Access basic courses</li>
                <li>Community support</li>
                <li>Limited quizzes</li>
                <li>1 Project</li>
            </ul>
            <button>Get Started</button>
        </div>

        <div class="pricing-card active">
            <h3>Standard</h3>
            <h1>₹999<span>/month</span></h1>
            <ul>
                <li>All Basic Features</li>
                <li>Certificate Included</li>
                <li>Assignments & Tests</li>
                <li>5 Projects</li>
            </ul>
            <button>Choose Plan</button>
        </div>

        <div class="pricing-card">
            <h3>Premium</h3>
            <h1>₹1499<span>/month</span></h1>
            <ul>
                <li>All Standard Features</li>
                <li>1-on-1 Mentorship</li>
                <li>Live Classes</li>
                <li>Unlimited Projects</li>
            </ul>
            <button>Go Premium</button>
        </div>

    </div>
</section>


{% endblock %}

